@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryTheme: #3057d8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .primary-theme {
    background-color: var(--primaryTheme);
  }
}
